In [1]:
print('Hello')

Hello

In [3]:
import pandas as pd

data = {
    "Book_ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Title": [
        "The Great Gatsby",
        "1984",
        "To Kill a Mockingbird",
        "Brave New World",
        "Moby Dick",
        "The Catcher in the Rye",
        "The Road",
        "Pride and Prejudice",
        "Fahrenheit 451",
        "War and Peace"
    ],
    "Author": [
        "F. Scott Fitzgerald",
        "George Orwell",
        "Harper Lee",
        "Aldous Huxley",
        "Herman Melville",
        "J.D. Salinger",
        "Cormac McCarthy",
        "Jane Austen",
        "Ray Bradbury",
        "Leo Tolstoy"
    ],
    "Genre": [
        "Fiction",
        "Dystopian",
        "Fiction",
        "Dystopian",
        "Fiction",
        "Fiction",
        "Dystopian",
        "Romance",
        "Dystopian",
        "Historical"
    ],
    "Year": [1925, 1949, 1960, 1932, 1851, 1951, 2006, 1813, 1953, 1869],
    "Rating": [8.5, 9.0, 9.3, 8.0, 7.5, 8.0, 8.5, 9.1, 8.2, 9.0],
    "Available": ["Yes", "No", "Yes", "Yes", "No", "Yes", "Yes", "Yes", "No", "Yes"]
}
df=pd.DataFrame(data)
df

,Book_ID,Title,Author,Genre,Year,Rating,Available
0,1,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925,8.5,Yes
1,2,1984,George Orwell,Dystopian,1949,9.0,No
2,3,To Kill a Mockingbird,Harper Lee,Fiction,1960,9.3,Yes
3,4,Brave New World,Aldous Huxley,Dystopian,1932,8.0,Yes
4,5,Moby Dick,Herman Melville,Fiction,1851,7.5,No
5,6,The Catcher in the Rye,J.D. Salinger,Fiction,1951,8.0,Yes
6,7,The Road,Cormac McCarthy,Dystopian,2006,8.5,Yes
7,8,Pride and Prejudice,Jane Austen,Romance,1813,9.1,Yes
8,9,Fahrenheit 451,Ray Bradbury,Dystopian,1953,8.2,No
9,10,War and Peace,Leo Tolstoy,Historical,1869,9.0,Yes

**Using the provided DataFrame, filter out all the books that belong to the "Dystopian" genre and have a rating higher than 8.0.**

In [28]:
# Solving using traditonal way
info = df[(df['Genre']=='Dystopian') & (df['Rating']>8.0)]
info

   Book_ID           Title           Author      Genre  Year  Rating Available
1        2            1984    George Orwell  Dystopian  1949     9.0        No
6        7        The Road  Cormac McCarthy  Dystopian  2006     8.5       Yes
8        9  Fahrenheit 451     Ray Bradbury  Dystopian  1953     8.2        No

In [38]:
# Solving same question with advanced way
# suppose you are using a " " with in the strings then inside () you have to use ' ' to define value: Here "Dystopian" for value for function ' ''
info1= df.query('(Genre=="Dystopian") & (Rating > 8.0)') 
info1

   Book_ID           Title           Author      Genre  Year  Rating Available
1        2            1984    George Orwell  Dystopian  1949     9.0        No
6        7        The Road  Cormac McCarthy  Dystopian  2006     8.5       Yes
8        9  Fahrenheit 451     Ray Bradbury  Dystopian  1953     8.2        No

**From the filtered results, select only the titles and authors of the books that are currently available.**

In [80]:
# This a way to extarct the column usinf filter
beta=(info[info['Available'].str.contains('Y')])
resul= beta.iloc[:,1:3]
resul

      Title           Author
6  The Road  Cormac McCarthy

In [86]:
re=info.loc[info['Available']=='Yes',['Title','Author']] # Using loc method
re

      Title           Author
6  The Road  Cormac McCarthy