In [1]:
# # lec- 2
# True and 1 are considered same value in sets
# False and 0 are considered same value in sets

a={13,312,23,31.23,31,34,3432,1,'animal',0,'aham','ramro',True,False}
print(a)

{0, 1, 34, 'aham', 3432, 13, 'ramro', 23, 312, 'animal', 31.23, 31}

In [1]:
# Nested is not a property in sets

a={{5,4,32,3},4542334}
# output:Error

TypeError: unhashable type: 'set'

In [ ]:
# check if the items present or not
a={4,34,2,'animal'}
# 48 in a output items not present :False
4 in a

True

In [ ]:
# lenght
a={13,312,23,31.23,31,34,3432,1,'animal',0,'aham','ramro',True,False}
print(len(a))

12

In [ ]:
# ONE SET IS CREATED YOU CANNOT CHANGE THE ITEMS BUT YOU CAN ADD THE NEW ITEM
a={13,312,23,31.23,31,34,3432,1,'animal',0,'aham','ramro',True,False}
a.add('d1')
print(a)

{0, 1, 34, 'animal', 3432, 13, 'aham', 'ramro', 23, 312, 31.23, 'd1', 31}

In [ ]:
# updating the value in other words combing the variable 
a={13,312,23,31.23,31}
b={'animal',0,'aham','ramro'}
a.update(b)
print(a)

{0, 'animal', 13, 'aham', 'ramro', 23, 312, 31.23, 31}

In [ ]:
# <!-- remove items from the sets -->
a={13,312,23,31.23,31,34,3432,1,'animal',0,'aham','ramro',True,False}
a.remove(31.23)
print(a)

{0, 1, 34, 'animal', 3432, 13, 'aham', 'ramro', 23, 312, 31}

In [ ]:
# pop method
a={13,312,23,31.23,31,34,3432,1,'animal',10,'aham','ramro',True,False}
c=a.pop()
print(a)
print(c)

{1, 34, 'animal', 3432, 10, 13, 'aham', 'ramro', 23, 312, 31.23, 31}
False

In [ ]:
# CLEAR METHOD
a={13,312,23,31.23,31,34,3432,1,'animal',10,'aham','ramro',True,False}
a.clear()
print(a,'proofs that value has ben cleared..')

set() proofs that value has ben cleared..

In [ ]:
a={13,312,23,31.23,31,34,3432,1,'animal',10,'aham','ramro',True,False}
del a
print(a)  #NameError: name 'a' is not defined

In [ ]:
# Dictonary
a= {'Name':'Dorna Raj Gyawali','Phoneno':'9765503550','Password':'F3ETSVJ0DGCGE63GDY63F'}
print(a)

{'Name': 'Dorna Raj Gyawali', 'Phoneno': '9765503550', 'Password': 'F3ETSVJ0DGCGE63GDY63F'}

In [ ]:
# empty dict
a={}
print(type(a))

<class 'dict'>

In [ ]:
# dict constructor
a=dict(name='aham',age='infinte',work='Ultimate Truth')
print(a)

:

In [ ]:
# Dictionary comprehension
squares= {x:x*x
          for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
a={}
user=int(input('Enter the products count at least 3'))
if user<3:
    print('Value Error..')
else:
    for x in range(1,1+user):
        product=input('Enter the products name')
        a[x]=product
print(a)

{1: 'Grocories', 2: 'Makai waipers', 3: 'Dog Food'}

In [ ]:
def shop_managgement_system(user):
    Inventory={}
    if user<1:
        print('Invaild Number..')
    else:
        for x in range(user):
            product_id=int(input('Enter the ID for Products|eg;1,2,3..'))
            product_name=input('Enter the Name of the Products|eg; Shampoo,hair oil..')
            Inventory[product_id]=product_name
        return Inventory
    
user=int(input('Enter the number of product you purchased'))

final= shop_managgement_system(user)
print('\nProduct you purchased')
print(final)

Product you purchased
{897: 'Cold Drinks 1000ml', 342: 'Lays 100g', 123: 'Apple 900g\\'}

In [ ]:
#charactersitics of dictionary
# Acsseing the values using key
a={
    'name':'Dorna Raj Gyawali',
    'Role':'Data Scientist-Chief',
    'Experince':'7 years',
}
print(a['name'])

Dorna Raj Gyawali

In [ ]:
#flexible key type
a={
    123:'Interger key',
    1.2:'Float key',
    (1,2):'Tuple as key',

}
print(a)

{123: 'Interger key', 1.2: 'Float key', (1, 2): 'Tuple as key'}

In [ ]:
# Duplcates are not allowed
# key are supposed to be unique 
a={
    'name':'Drona',
    'name':'AHAM'
}
print(a)

{'name': 'AHAM'}

In [ ]:
# Memebership Testing in keywords
a={
    'name':'Drona',
    'Role':{'subrole':'Data Scientist',
            'Majorrole':'System Engineer',
            'Minorrole':'Data Analyst Specialist'},
    'Age': 21
}
print('Role'in a)

True

In [ ]:
# Nested dictionaries
employees= {
    'em1':{'name':'Jhon doe','email':'jhohn@gmail.com','Role':'Example setter specialist'},
    'em2':{'name':'Aatamaram','email':'sakharam@gmail.com','Role':'Automobile specialist'}
    
}
print(employees['em1']['Role'])
print(employees['em2']['email'])

Example setter specialist
sakharam@gmail.com

In [26]:
books_ratings={
    'Python Programming':4.5,
    'Data Science Handbook':4.8,
    'Machine Learning Basics':4.2
}
user=input('enter the key to search')
if user in books_ratings:
    print('Search Found..')
else:
    print('Not found')
print('-'*50)
print('list of books:\n')
t=list(books_ratings.keys())
print(t)
for key, value in books_ratings.items():
    print(f"The rating for '{key}' is {value}")

Not found
--------------------------------------------------
list of books:

['Python Programming', 'Data Science Handbook', 'Machine Learning Basics']
The rating for 'Python Programming' is 4.5
The rating for 'Data Science Handbook' is 4.8
The rating for 'Machine Learning Basics' is 4.2

In [13]:
Fruit_stock={
    'apple':10,
    'banana':15,
    'orange':8,
    'grape':20
}
for key,value in Fruit_stock.items():
    print(f"Fruits: {key}, Stock: {value}")

Fruits: apple, Stock: 10
Fruits: banana, Stock: 15
Fruits: orange, Stock: 8
Fruits: grape, Stock: 20

In [1]:
class Complex:
    def __init__(self,real,img):
        self.real=real
        self.img=img

    def shownum(self):
        print(self.real,"i" ' '  "+",self.img,"j")

    def __add__(self,num):
        newimg = self.real + num.real
        newreal=self.img+num.img
        return Complex(newimg,newreal)
        
num1=Complex(2,3)
num2=Complex(4,5)
num3=num1+num2
num3.shownum()

6 i + 8 j

In [7]:
# keys,values and len methods
abc={
    'ID':'123445',
    'NAME':'joe doe',
    'EMAIL':'joedoe@yahoo.com',
    'Role':'Chief DataScientist'
}
print(len(abc))
print(abc.keys())
print(abc.values())

4
dict_keys(['ID', 'NAME', 'EMAIL', 'Role'])
dict_values(['__123445', 'joe doe', 'joedoe@yahoo.com', 'Chief DataScientist'])

In [13]:
# change values
abc={
    'ID':'123445',
    'NAME':'joe doe',
    'EMAIL':'joedoe@yahoo.com',
    'Role':'Chief DataScientist'
}

print(abc)
abc['ID']='24435'
print(abc)
abc['EMAIL']='abc@firefox.com'
print(abc)

{'ID': '123445', 'NAME': 'joe doe', 'EMAIL': 'joedoe@yahoo.com', 'Role': 'Chief DataScientist'}
{'ID': '24435', 'NAME': 'joe doe', 'EMAIL': 'joedoe@yahoo.com', 'Role': 'Chief DataScientist'}
{'ID': '24435', 'NAME': 'joe doe', 'EMAIL': 'abc@firefox.com', 'Role': 'Chief DataScientist'}

In [20]:
# adding the items
abc={
    'ID':'123445',
    'NAME':'joe doe',
    'EMAIL':'joedoe@yahoo.com',
    'Role':'Chief Data Scientist'
}
print(abc)
abc['Salary']='500k/permonth' # adding the value 
print(abc)
abc['NAME']='Dr.Dorna Raj Gyawali'
abc['EMAIL']='drdorna@gmail.com'# changed the value
print(abc)

{'ID': '123445', 'NAME': 'joe doe', 'EMAIL': 'joedoe@yahoo.com', 'Role': 'Chief Data Scientist'}
{'ID': '123445', 'NAME': 'joe doe', 'EMAIL': 'joedoe@yahoo.com', 'Role': 'Chief Data Scientist', 'Salary': '500k/permonth'}
{'ID': '123445', 'NAME': 'Dr.Dorna Raj Gyawali', 'EMAIL': 'drdorna@gmail.com', 'Role': 'Chief Data Scientist', 'Salary': '500k/permonth'}

In [22]:
#update method
abc={
    'ID':'123445',
    'NAME':'joe doe',
    'EMAIL':'joedoe@yahoo.com',
    'Role':'Chief Data Scientist'
}
abc.update({'Phoneno':'+23414344','Level':'Sr.10'})
print(abc)

{'ID': '123445', 'NAME': 'joe doe', 'EMAIL': 'joedoe@yahoo.com', 'Role': 'Chief Data Scientist', 'Phoneno': '+23414344', 'Level': 'Sr.10'}

In [ ]:
#remove method
abc={
    'ID':'123445',
    'NAME':'joe doe',
    'EMAIL':'joedoe@yahoo.com',
    'Role':'Chief Data Scientist'
}
abc['Password']='iamhero123'
print(abc)
abc.pop('Password')
print(abc)

:

In [1]:
#DELTE and clear METHOD
abc={
    'ID':'123445',
    'NAME':'joe doe',
    'EMAIL':'joedoe@yahoo.com',
    'Role':'Chief Data Scientist',
    'password':'saktiman'
    

}
abc['Role']=' cheif Data Specialist'
print(abc)
del abc['password'], abc['EMAIL']
print(abc)

# we can delete whole dictionary using del 
# del abc
#output: error : abc not defined

#clear method
# abc.clear()
#output: {} /n clear all the key and value from the dictionary

{'ID': '123445', 'NAME': 'joe doe', 'EMAIL': 'joedoe@yahoo.com', 'Role': ' cheif Data Specialist', 'password': 'saktiman'}
{'ID': '123445', 'NAME': 'joe doe', 'Role': ' cheif Data Specialist'}

In [12]:
# write a python code to concatenate the following dictionaries in one
dict1={1:20,6:30},
dict2={2:40,4:50} ,
dict3={3:60,7:80}


dict4={}

for d in (dict1,dict2,dict3):
    dict4.update(d) # type: ignore
print(dict4)

{1: 6, 2: 4, 3: 60, 7: 80}

In [ ]:
dic={}
for x  in range(1,16):
    dic[x]=x**2

print(dic)

:

In [2]:
bc={
    
    'id':'123445',
    'NAME':'joe doe',
    'EMAIL':'joedoe@yahoo.com',
    'Role':'Chief Data Scientist',
    'password':'saktiman'
    

}
user = input('Enter the input')
if user in bc:
    print(f'key is present:  key is {user.upper()}')
else:
    print(f'Doesnt exist: {user.upper()}')

Doesnt exist: Y

In [3]:

# procedural programming
num=1
num2=3
sum=num+num2
print(sum)

4

In [4]:
# funtional programming
def add(num1,num2):
    print(num1+num2)
    


add(3,4)

7

In [21]:
# object oriented program

class calc:
    def __init__(self,num,num1):
        self.num=num
        self.num1=num1

    def add(self):
        sum=self.num+self.num1
        return sum
    
    def subtract(self):
        sub=self.num-self.num1
        return sub
    
    def multiply(self):
        multi=self.num*self.num1
        return multi


abc=calc(20,20)
c=calc(50,67)
output_add= c.add()
output_sub=abc.subtract()
print(output_add)
print(output_sub)
abc1=abc.multiply()
print(abc1)

117
0
400

In [2]:
from types import coroutine


class car:
    def __init__(self,model,color,status):
        self.model=model
        self.color=color
        self.status=status

    def display(self):
        print(f'The car model {self.model} which color is {self.color} has been {self.status}')


abc=car('Tyotaa Ev 206xd','*Yellow kings','Registred in Np/Butwal')
abc1=car('Mercedes venz 672xcr','*Pure black','Not Registred')
abc2=car('Mustang g wagon fc45sax','*Fade Yellow','Not distributed yet')
abc.display()
abc1.display()
abc2.display()

The car model Tyotaa Ev 206xd which color is *Yellow kings has been Registred in Np/Butwal
The car model Mercedes venz 672xcr which color is *Pure black has been Not Registred
The car model Mustang g wagon fc45sax which color is *Fade Yellow has been Not distributed yet

In [7]:
# POLYMORPHISM IN FUNTIONS
class run:
    def start(self):
        print("System is starting...")

class close:
    def start(self):
        print(" System crashed after being strated!!!") 


start=run()
closes=close()

start.start()
closes.start()

# note: Every objects behave differently despite of having same class method
# start.start() behave output: System is starting...
# closes.start() behave output:System crash after being strated!!!

System is starting...
 System crashed after being strated!!!

In [18]:
# Runtime polymorphism - method overriding
# parent class
class Animal:
    def feature(self):
        print('New features loading...')
# child class    
class Post(Animal):
    def feature(self):
        print('Post feature has been added to software...')
# child class
class Data(Animal):
    def feature(self):
        print('Data has been enscapsuled from the databases...')

#object creation
animal = Animal()
post=Post()
data =Data()


animal.feature()
post.feature()
data.feature()

# Note: Nomatter how many times you keep your methods same but it will behave differently or according to defined objects 
# animal = Animal() behave output: New features loading...
# post=Post() behave output: Post feature has been added to software...
# data =Data() behave output:Data has been enscapsuled from the databases...

New features loading...
Post feature has been added to software...
Data has been enscapsuled from the databases...

In [1]:
#polymorphism CompileTime - overloading
class calculator:
    def add(self,a=0,b=0,c=1):
        print(a+b+c)

calc=calculator()
calc.add(1,23,3)

27

In [23]:
#polymorphism in real world senario
#parent class
class mediafile:
    def play(self):
        print('Opening the mediafile')

# Child class
class Audio(mediafile):
    def play(self):
        print('Playing Audio file... kollyywoodsongs.audiofile')

#Child class
class Video(mediafile):
    def play(self):
        print('Playing the video... Kollywoodfilms.videofile')
        

# Object creation
media=mediafile()
audio=Audio()
video=Video()

media.play()
video.play()
audio.play()

Opening the mediafile
Playing the video... Kollywoodfilms.videofile
Playing Audio file... kollyywoodsongs.audiofile

In [5]:
# write a program to find a palindrome 


def operation():

    number=int(input('Enter the numbers'))
    temp=number 
    reverses=0

    # loop to create reverse
    while (number>0):

        # basically this `dig` is extraxting reminder: suppose 23/3 = 2.3 and its reminder will be 3
        dig=number%10

        # this is just appending/adding  the number from `dig`: suppose in 1st loop  0*10+3 =3 and in  2st loop= 3*10+2=32 
        reverses=reverses*10+dig  

        # this code divide the things into interger form: suppose 23/10 = 2.3 but 23//3 will be only 2 in 2st loop 2//10 = 0 loops break
        number=number//10 

    #condition to check palindrome

    if temp==reverses:
        print('Number entered by user is palindrome')
    else:
        print('Number entered by user is not palindrome')

    print(reverses)

In [6]:
operation()

Number entered by user is not palindrome
32

In [2]:
#inheritence
class parent:
    def show(self):
        print('Initializing the system..')

class Child:
    def result(self):
        print('Initializing Completed...')

class grandchild:
    def crash(self):
        print('Initializing crashed: Heavy dataload...')

class greatgrandchild(parent,Child,grandchild):
    def serverdown(self):
        print('Server crashed: Data lost ... 404')

Greatchild=greatgrandchild()
Greatchild.show()
Greatchild.result()
Greatchild.crash()
Greatchild.serverdown()

Initializing the system..
Initializing Completed...
Initializing crashed: Heavy dataload...
Server crashed: Data lost ... 404

In [3]:
import time
def timer(func):
    def wrapper(*awrgs,**kwrgs):
        start= time.time()
        result=func(*awrgs,**kwrgs)
        end=time.time()
        print(f"{func.__name__} ran for {end-start}")
        return result
    return wrapper

@timer
def system(n):
    time.sleep(n)


system(1)

system ran for 1.0012717247009277

In [2]:
import time

def system(func):
    def wrapper(*args,**kwargs):
        start=time.time()
        arg_value= 404
        kwargs_value={'name':'Alice','age':'Undefined'}
        end=time.time()
        a='Database Hacked'
        result=(f"{func.__name__} database breached following details {kwargs_value}. Error: {arg_value} Run time:{end-start}  Status:{a}")
        return result
    return wrapper    

@system
def Microsoft():
    print('Hello')

Microsoft()

"Microsoft database breached following details {'name': 'Alice', 'age': 'Undefined'}. Error: 404 Run time:0.0  Status:Database Hacked"

In [1]:
def converter(n):
    print('Npr to us dollar Converter')
    opt= n*133.87
    print(f'{n} NPR = {opt} USD')


def length():
    print('Length finder')
    n=input('Enter the text')
    maker= len(n)
    return maker


def printlist():
    print('Print in list format')
    n=input('enter text')
    for items in n:
        print(items,end=' ')


def num():
    n=int(input('Enter the numbers'))
    if n%2==0:
        print('Even')
    elif  n%2==1:
        print('Odd')
    else:
        print('Something went wrong')

In [95]:
num()

Odd

In [31]:
# recursion
def show(n):
    if n ==0:
        return
    show(n-1)
    print(n)

show(5)

1
2
3
4
5

Connecting Sql to transfer data in sqldatabase

In [6]:
from sqlalchemy import create_engine # type: ignore
import pandas as pd
class database:
    def start_conn(self,name):
        self.name=name
        conn_string= f'mysql+mysqldb://guest:relational@db.relational-data.org:3306/{self.name}'
        db= create_engine(conn_string)

        try:
            conn= db.connect()
            print('Connection Established Succesfully...',conn)
        except Exception as e:
            print('Something went wrong: Details:',e)

class send_sqldb(database):
    def file_transfer(self):
        try: 
            filename = ['artist','image_link','canvas_size','subject','product_size','museum_hours','museum','work']
            i=0
            for file in filename:
                i+=1
                df = pd.read_csv(rf"C:\Users\RAMU\Downloads\sql project\Excel file\{file}.csv")
                sending_to_database=df.to_sql(file,con=conn,if_exists='replace',index=False)
                print(i,'Request Initilaize',sending_to_database)
        except Exception as e:
            print('Permission Denied by Admin\nContact: dronarajgyawali+databasemanager@gmail.com')

            
# creating object 
db=database()
db.start_conn(input()) # database name 
db=send_sqldb()
db.file_transfer()

Connection Established Succesfully... <sqlalchemy.engine.base.Connection object at 0x0000027BDFFFA780>
Permission Denied by Admin
Contact: dronarajgyawali+databasemanager@gmail.com

Introduction to Webscraping

In [3]:
import requests
from bs4 import  BeautifulSoup
url = 'https://www.scrapethissite.com/pages/forms/'
page = requests.get(url)
soup= BeautifulSoup(page.text,"html")
soup.find_all('p', class_ = 'lead')

[<p class="lead">
                             Browse through a database of NHL team stats since 1990. Practice building a scraper that handles common website interface components.
                             Take a look at how pagination and search elements change the URL as your browse. Build a web scraper that can conduct searches and paginate through the results.
                         </p>]

In [34]:
soup.find('th').text.strip()

'Team Name'

scrapping the live real data from website : wikipedia

In [42]:
from bs4 import BeautifulSoup
import requests
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
soup.find('th').text.strip()

'Rank'

In [94]:
table = soup.find_all('table')[0]

In [100]:
make_title = table.find_all('th')
fine_title = [title.text.strip() for title in make_title ]

# Note : To scrape a columns or title we have to have <th> tags
#      : Then we iterate(loop)  the title

In [101]:
import pandas as pd
df=pd.DataFrame(columns= fine_title)
print(df)

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [110]:
find_data= table.find_all('tr')
for row in find_data[1:]:
    row_data=row.find_all('td')
    make_data= [data.text.strip() for data in row_data ]
    length=len(df)      # calculating the rows of df in  this case there are 7 coloumn means 7 rows which go and go
    df.loc[length]=make_data # assinging the data into the column suppose df.loc[1]= 1,walmart,industry .....so on

# Note: to scrape a data or row <tr> and <td> is nessacary
  # First we loop through the <tr> which is table row then we loop <td> which is table data
  # Find_all doesn't support .text.strip() so make sure of that error as well

In [112]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

Recursion

In [57]:
def show(n):
    if n == 0:
        return 0
    print(n)
    show(n-1)


show(4)

4
3
2
1

In [101]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fact(n-1) * n

fact(3)

6

In [1]:
def natural(n):
    if n == 0:
        return 0
    else:
        return natural(n-1) + n

In [3]:
natural(4)
#  natural(n-1) 4,3,2,1  "+ n" = sum(n) what the value of n  = (4+3+2+1) = result = 10 ans.

10

In [4]:
def list(item,idx=0):
    if idx == len(item):
        return
    print(item[idx],idx)
    list(item,idx+1)

In [5]:
cities=['Kathmandu','Gulmi','Nuwakot','Gorkha','Butwal']
list(cities)

Kathmandu 0
Gulmi 1
Nuwakot 2
Gorkha 3
Butwal 4

File i/o

In [5]:
f= open('demo.txt',  'r')
# a= f.write('\n The file is created for Learning Purposes')
print(f.read())

 The file is created for Learning Purposes
 Understanding the syntax and chracter such as r,w,a,r+,w+,a+ also file extension knowledge can be helful

In [13]:
# with syantax
with open ('demo.txt','r') as f:
    print(f.read())

# this a one way to create a new file(sample.txt)
with open('sample.txt', 'w') as f:  
    print(f.write('This is a sample file'))

with open('demo.txt', 'w') as f:
    print(f.write("The file is created for Learning Purposes\n Understanding the syntax and chracter such as r,w,a,r+,w+,a+ also file extension knowledge can be helful\n Using with means after completion of your file work close automatically exucuted"))

21

In [14]:
# Deleting the file
import os
os.remove('sample.txt') # file has been permanently removed

In [39]:
#Practice txt

# with open ('Practice.txt','w') as f:
#     data = f.write('i love java\n because i program in python')

# new_data= data.replace('java','Python Programming Language')


with open ('Practice.txt','r') as f:
    data = f.read()
    user=input('Enter the word')
    if data.find(user) != -1 :
        print('Word Exists')
    else:
        print('Word doesnot exists')

Word Exists

In [2]:
def check_line():
    user = input('Enter the word')
    data = True
    line = 1
    with open('Practice.txt','r') as f:
                while data :
                        data = f.readline()
                        if user in data:
                               print(line)
                               return
                        line+=1
    return f'Word {user} doesnt exists'

In [56]:
with open('demo.txt','r') as f:
        data = f.read()
        # print(data)


        num = "" 
        count = 1
        for i in range(len(data)):
                if data[i] == ',':
                        # print(int(num))
                        num = ""
                else:
        
                        num += data[i]

In [58]:
count =1 
with open('demo.txt') as f:
    data = f.read()
    
    nums = data.split(",")
    for val in nums:
        if int(val)%2 == 0:
            count+=1

print(count)

5

In [4]:
def num_occur():
    # with open('demo.txt') as f:
    #     data = f.read()
    data = 1,23,3,3,4,56,3    
    discount={}
    for number in data:
        if number in discount:
            discount[number]+=1
        else:
            discount[number]=1

    return discount

In [5]:
num_occur()

{1: 1, 23: 1, 3: 3, 4: 1, 56: 1}

In [15]:
import fibo
fibo.fib2(5)

[0, 1, 1, 2, 3]

In [16]:
import  importlib; importlib.reload(fibo)

In [22]:
import fact
fact.fact(3)

6

In [32]:
import importlib; importlib.reload(counter)
import counter

list = ['apple','apple','banana','cherry','cherry','cherry','banana']
counter.counter(list)

{'apple': 2, 'banana': 2, 'cherry': 3}

In [34]:
import requests; from bs4 import BeautifulSoup